{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "uglify": true,
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-export-extensions"
  ]
}
